.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.Xbutton {
    font-size: 23px;
    margin-left: 20px;
}

.Xbutton:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: rgb(46, 5, 5);
}


/* .container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 244, 245);
    height: 100vh;
}

body {
    margin: 0;
}

.link {
    background-color: rgb(99, 13, 156);
    text-decoration: none;
    color: white;
    padding: 2px;
    margin-left: 10px;
}

.menu {
    background-color: rgb(99, 13, 156);
    padding-top: 0px;
    padding-left: 10px;
    top: 0;
    height: 4vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(243, 244, 245);
    width: 25vw;
    height: 100vh;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5vh;
    color: black;
    height: 10vh;
    width: 100vw;
}

.main-login {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 80vh;


}

.input-login {
    display: flex;
    flex-direction: column;
    margin: 1.3vh;
}

.login-information {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.button-repartition {
    display: flex;
    width: 22vw;
    justify-content: center;
}

.button-login {
    margin-top: 3vh;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 22vw;
    color: white;
    background-color: rgb(94, 65, 175);
    border-radius: 20px;
    border: none;

}

.button-login:hover {
    transition: 0.2s ease-in-out;
    background-color: rgb(59, 32, 134);
    cursor: pointer;
}

.button-signup {
    margin-top: 3vh;
    font-size: 1.3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 22vw;
    color: rgb(94, 65, 175);
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 1px inset rgb(94, 65, 175);
}

.button-signup:hover {
    box-shadow: 0px 0px 0px 1.5px inset rgb(94, 65, 175);
    cursor: pointer;
}


input {
    padding: 8px 1vw;
    width: 20vw;
    font-size: 1.3rem;
    outline: none;
    border-radius: 3px;
    border: none;
    box-shadow: inset 0px 0px 0px 1px rgb(94, 65, 175);
}

input:hover {
    box-shadow: inset 0px 0px 0px 2px rgb(94, 65, 175);
}

input:focus {
    box-shadow: inset 0px 0px 0px 2.5px rgb(94, 65, 175);
}

label {
    padding-bottom: 5px;
}

.line {
    width: 20vw;
    border: 1px solid rgb(132, 132, 133);
} */