.link {
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.Xbutton {
    font-size: 23px;
    margin-left: 20px;
}

.Xbutton:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    color: rgb(46, 5, 5);
}